<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BoschZap</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/inicio.css">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Geologica:wght@500&family=Lekton&family=Lexend+Peta:wght@500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
    integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

  <style>
    .botãoSidebar {
      background-color: white;
      margin: 0;
      margin-block: 0.5em;
    }

    @media (max-width: 767px) {
      .row .digitar {
        position: fixed;
        bottom: 0;
        left: 0;
        margin-bottom: 1.5em;
        max-width: 100%;
        width: 90%;
      }
    }

    @media (min-width: 768px) {
      .digitar {
        position: fixed;
        bottom: 0;
        left: 0;
        margin-bottom: 1.5em;
        max-width: 100%;
        width: 81%;
        margin-right: 1.15em;
      }
    }

    .cardrecomend-btn {
      display: none;
      cursor: pointer;
      background-color: white;
      border-radius: 5px;
      padding: 0.5em 1em;
      margin: 0.5em;
      font-family: 'DM Sans', sans-serif;
      color: black;
    }

    @media (max-width: 767px) {
      .recomendacao {
        margin-top: 0;
      }

      .cardrecomend-btn {
        display: block;
      }

      .cardrecomend {
        display: none;
      }
    }
  </style>
</head>

<body>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-xl-2 col-md-12 barra">
          <div class="row">
            <div class="sidebar">
              <a href="/logout" class="logo" style="display: flex; justify-content: center;">
                <img src="../img/BOSCH.png" alt="Logo BoschZap" style="width: auto; height: 2em;">
              </a>
              <div class="escondegrupo">
                <a class="btn botãoSidebar d-lg-none" data-bs-toggle="collapse" href="#collapsegrupo" role="button"
                  aria-expanded="false" aria-controls="collapsegrupo"
                  style="display: flex; justify-content: center; color: white; background-color: rgb(90, 70, 136);">
                  Grupos
                </a>
                <div class="d-lg-block collapse" id="collapsegrupo">
                  <% for (var i=0; i < grupos.length; i++) { %>
                    <div class="grupo">
                      <a href="/chat/<%= grupos[i].id_grupo %>" class="displaylink grupos">
                        <div class="imggrupo">
                          <img src="/img/<%= grupos[i].foto_grupo %>" alt="Foto do grupo">
                        </div>
                        <%= grupos[i].nome_grupo %>
                      </a>
                    </div>
                    <% } %>
                      <div class="grupo">
                        <div class="displaylink botao">
                          <div class="botao">
                            <button type="button" class="botao-novo-grupo" data-bs-toggle="modal"
                              data-bs-target="#exampleModal" data-bs-whatever="@mdo">Novo Grupo</button>
                          </div>
                        </div>
                      </div>
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Novo Grupo</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div id="modal" class="modal-body">
                              <form action="/criagrupo" method="post" enctype="multipart/form-data">
                                <div class="container imagem" id="imagem" style="padding: 0; width: fit-content;">
                                  <img src="../img/user2.png" alt="Foto padrão" id="imgFoto">
                                  <input type="file" id="flImage" name="fotogrupo" accept="image/*"
                                    style="display: none;">
                                </div>
                                <div class="mb-3">
                                  <label for="recipient-name" class="col-form-label">Nome do Grupo</label>
                                  <input type="text" class="form-control" id="recipient-name" name="nome">
                                </div>
                                <div class="mb-3 final">
                                  <label for="add-participante" class="col-form-label">Participantes</label>
                                  <select id="add-participante" name="participantes" class="form-control" multiple>
                                    <% for (var i=0; i < participantes.length; i++) { %>
                                      <% if (participantes[i].Edv !==usuarioId) { %>
                                        <option value="<%= participantes[i].IDUsuario %>">
                                          <%= participantes[i].Nome %>
                                        </option>
                                        <% } %>
                                          <% } %>
                                  </select>
                                  <input type="submit" class="btn btn-primary botao-modal" id="criar-grupo-btn"
                                    value="Criar">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="container-fluid">
              <a href="/recomendacao" style="text-decoration: none; color: black;">
                <div class="recomendacao">
                  <div class="recomendacao-btn">
                    <div class="recomendtitle"
                      style="display: flex; justify-content: center; font-family: 'DM Sans', sans-serif; color: black;">
                      RecZaps
                    </div>
                  </div>
                  <div class="collapsegrupo" id="collapsegrupo">
                    <div class="cardrecomend">
                      <div class="recomendtitle">Vídeo pika</div>
                      <div class="recomendtext">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab reiciendis
                        asperiores mollitia. Dolores accusamus quidem quisquam rerum voluptatibus aliquam sequi
                        incidunt,
                        maxime minima consequatur! Eius quos maxime doloribus eaque ex. Lorem ipsum dolor sit amet
                        consectetur, adipisicing elit. Optio praesentium, corporis voluptate eius ratione cupiditate.
                        Minima minus distinctio nam, corporis iste eaque odit hic eos, praesentium iusto quia quod
                        quisquam!</div>
                    </div>
                  </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-xl-10 col-md-12 mensagens">
        <div class="container fluid" style="height: 80vh;">
          <div class="row">
            <div class="col">
              <% if (grupos && grupos.length> 0) { %>
                <% for (var i=0; i < 1; i++) { %>
                  <div class="infogrupo">
                    <div class="fotogrupo">
                      <img src="/img/<%= grupos[i].foto_grupo %>" alt="Foto padrão grupo">
                    </div>
                    <%= grupos[i].nome_grupo %>
                  </div>
                  <hr style="margin-block: 0.1em;">
                  <% } %>
                    <% } %>
            </div>
          </div>
          <div class="row">
            <div class="container corpomsg">
              <div class="col-md-5">
                <div class="balao" style="width:85%;">
                  <div class="container">
                    <div class="row nomealuno">
                      Nome do usuario
                    </div>
                    <hr>
                    <div class="row txtmensagem">
                      mensagem do usuario
                    </div>
                  </div>
                </div>
                <div class="mensagens-container"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="container digitar fixed-bottom">
              <div class="caixatexto" style="width: 100%;">
                <form>
                  <input class="txtmensagem" placeholder="Mensagem" name="mensagem" type="text"
                    style="background-color: transparent; color: white; border: 0; width: 100%; overflow-wrap: break-word; height: auto; resize: none;">
                  <button type="button" onclick="enviarMensagem(event)">Enviar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../js/inicio.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
    integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>

  <script src="https://cdn.socket.io/4.3.1/socket.io.min.js"></script>
  <script>
    const socket = io();

    const url = window.location.pathname;
    const grupoId = url.split('/').pop();
    socket.emit('join', grupoId);

    function enviarMensagem(event) {
      event.preventDefault();
      const mensagemInput = document.querySelector('input[name="mensagem"]');
      const mensagem = mensagemInput.value;
      const url = window.location.pathname;
      const grupoId = url.split('/').pop();
      console.log(url);
      socket.emit('message', grupoId, mensagem);

      mensagemInput.value = '';
    }

    socket.on('message', (mensagem) => {
      console.log('entrou')
      const mensagensContainer = document.querySelector('.balao');
      const mensagemElement = document.createElement('div');
      mensagemElement.innerHTML = `
                                <div class="mensagem">
                                  <div class="nomealuno">
                                    <% for (var i=0; i < participantes.length; i++) { %>
                                      <% if (participantes[i].Edv == usuarioId) { %>
                                        <%= participantes[i].Nome %>
                                      <% } %>
                                    <% } %>
                                  </div>
                                  <hr>
                                  <div class="txtmensagem">${mensagem}</div>
                                </div>`;
      mensagensContainer.appendChild(mensagemElement);
    });


  </script>
</body>

</html>